.Container {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    place-content: center;
    background-color: #ecaa00;
    color: #fff;
    border-radius: 18px;
    margin-top: -2px;
    margin-bottom: 28px;
    cursor: pointer;
    font-size: 1.1rem;
    
}

.CameraIcon {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.CaptureContainer {
    display: none;
}

.CaptureContainer img {
    border-radius: 18px;
    margin-bottom: 28px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.CaptureContainer p {
    font-size: 0.8rem;
    color: #145890;
    margin-top: -20px;
}

.BtnCon {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 95px;
}

.BtnCont {
    margin-top: -18px;
    padding-left: 95px;
}

.CapBtn {
    background: none !important;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 4px 12px;
    margin-right: 12px;
    cursor: pointer;
    font-weight: 500;
    color: #145890;
}

.SaveBtn {
    color: #ecaa00;
    
}

.BtnReady {
    background: none !important;
    border: none; 
    padding: 4px 12px;
    cursor: pointer;
    font-weight: 500;
    color: #fff;
}

.BtnReady:hover {
    color: #145890;
}