.DashboardContainer {
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.DashboardHome {
  padding-right: 5rem;
}

.NavIcons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-top-right-radius: 36px;
  background-color: #145098;
  color: #fff;
  width: 3rem;
  margin-left: -5px;
  padding-top: 2rem;
  padding-bottom: 9rem;
  cursor: pointer;
}

.MobileNav {
  display: none;
}

.FixSideNav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
}

.BLogo {
  border-radius: 50%;
  padding: 6px;
  background-color: #fff;
}

.SBLogo img {
  width: 22px;
  height: 16px;
}

.SideMain {
  width: 12.5rem;
  padding: 16px 18px 18rem 18px;
  align-items: flex-start !important;
  font-size: 0.9rem;
  font-weight: 700;
}

.IconBox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}

.IconBox img {
  width: 24px;
  height: 24px;
}

.IconBox p {
  margin-top: 0.7rem;
  margin-left: 8px;
}

.IconBox:hover {
  background-color: #103e75;
  border-radius: 8px;
  width: 100%;
}

.BrandCon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}

.BrandCon p {
  margin-top: 0.3rem;
  margin-left: 8px;
}

.LgLogo {
  border-radius: 50%;
  padding: 8px;
  background-color: #fff;
}

.LgLogo img {
  width: 38px;
  height: 38px;
}

.SideNavIcon {
  width: 40px !important;
}

/* figcard */
.FigNum {
  font-size: 1.8rem;
  font-weight: 800;
  padding-top: 12px;
  padding-bottom: 12px;
}

.TopCard {
  margin: 48px 0;
  padding: 0 78px 0 28px;
}

.YellowCard {
  background: #ecaa00 !important;
  padding: 14px !important;
}

#CardText {
  justify-content: left;
  font-size: 14px;
}

#CardText p {
  margin: 0;
  padding: 0;
}

.CustomeThead {
  background-color: #ecaa00;
  height: 3rem;
  padding-right: 12px;
}

.CustomTableHead {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 900;
  font-size: 1.2rem;
  padding: 0 12px;
  padding-right: 38px;
}

.CustomerImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
#PrevBtn {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

#NextBtn {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

#PrevBtn:hover,
#NextBtn:hover {
  background-color: #094379 !important;
  transform: scale(1.1);
}
.action {
  background-color: #ecaa00;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  color: #fff;
  font-size: 1rem;
  margin: 0 !important;
}

.loans__tableContainer img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}
