.KnowledgeBase {
    color: #fff !important;
    padding-bottom: 68px;
}

.Divider {
    border-bottom: 2px solid #fff !important;
    margin-top: 18px;
    margin-bottom: 18px;
}

.AccordionItem {
    border-radius: 15px !important;
    margin-bottom: 10px;
    font-size: 18px !important;
}

.ActiveCategory {
    background-color: #fff !important;
    color: #ecaa00 !important;
}

/* Terms and Policy */
.Tlink {
    list-style: square !important;
    font-size: 18px !important;
    margin-bottom: 10px;
    cursor: pointer;
}

.Tlink a {
    color: #fff !important;
    text-decoration: none !important;
}

.Tlink a:hover {
    color: #dedede !important;
    font-size: 1.2rem !important;
    transition: ease-in-out 0.3s;
}

.NoResult {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.InquiryForm {
    display: block;
    width: 100% !important;
    margin: 0 auto;
    padding: 60px;
}

.ShowInquiryForm {
    display: block !important;
}
