.DetailsCon {
    background-color: #f2f2f7;
    padding: 4rem;
    padding-top: 8rem !important;
    margin-top: 5rem;
}
.RowSection {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.RowCard {
    padding: 12px;
    margin-bottom: 18px;
    width: 300px;
    height: 50px;
    font-weight: 900;
    font-size: 0.9rem;
    background-color: #fff;
}

.RowText span {
    padding: 0 18px;
    color: #145098;
    font-weight: 900;
    font-size: 1rem;
}

.DetailSection {
      background-color: #f5f5f7;
      padding: 0.3rem 0.9rem 4rem 0.9rem;
      margin-top: 3rem;
}

.startBtn:hover {
    color: #145098 !important;
    cursor: pointer;
}

.left-col {
    border-right: 2px solid lightgray;
}