.BlogContainer {
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center;
    place-content: center !important;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 4rem;
}

.BlogContainer h3 {
    font-size: 2.2rem;
    font-weight: 700;
    color: #ecaa00;
    margin-bottom: 1rem;
    text-align: center;
}

.BlogContainer p {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
    text-align: center;
}