.KSection {
  margin: 0.8rem 4rem 2rem 1.9rem;
}
.OfficialIdCard {
  width: auto;
  height: 250px;
  padding-left: 3rem;
}

.FaceCapture {
  width: auto;
  height: 210px;
  margin-left: 3rem;
}

.TimeStamp {
  position: relative;
  left: 3rem;
  bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  width: 278px;
  height: 60px;
  background-color: #145098;
  color: #fff;
  padding: 8px 14px;
  border-radius: 15px;
  font-size: 14px;
}

.Time {
  margin-top: -12px;
}

.MatchCon {
  margin-left: 4rem;
}

.Match {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.Match p {
  margin-right: 1rem;
}
.yes,
.no {
  margin: 1rem;
  width: 20px;
  height: 20px;
}

.MatchCon .Match label{
  margin-top: 0px !important;
}

.Radio {
  margin-top: -2.3rem;
}

.Capture {
  margin-left: 3rem;
}

.Signature {
  width: 250px;
  height: 160px;
  margin-left: 7rem;
  border: 1px solid #ccc;
  padding: 28px;
}

.matchKyc {
  border-top: 2px solid #ccc;
  margin-top: 0.9rem;
  padding-top: 0.9rem;
}

.matchKyc p {
  color: #145098;
  font-size: 1rem;
  font-weight: 600;
}

.viewDocs:hover {
  color: #145098 !important;
  cursor: pointer;
}

.checkBtn {
  display: flex;
  justify-content: center;
  place-items: center;
}

.viewDocsBtn:hover {
  color: #145098 !important;
  cursor: pointer;
  font-size: 1rem;
}
